<header>
    <span>Node <em>&</em> Express</span>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
    <form method="post" action="/check-user">
        <input type="text" name="username" placeholder="Enter username">
        <button type="submit">Search</button>
    </form>
</header>